@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.review {
  background-color : var(--pink1);
  margin : 2%;
  border-radius: 5%;
  padding-top : 0.01%;
  padding-bottom : 0.01%;
}

.review-table {
  width:90%;
  margin : 4%;
}

.review-nickname{
  text-align : left;
  width:70%;
}

.review-star {
  text-align : left;
}

.review-date{
  text-align : right;
  width : 50%;
}

.review-content {
  width : 100%;
  padding-top:1.5%;
}

.review-image-box {
  display : flex;
  overflow-x : scroll;
}

.review-image-box::-webkit-scrollbar {
  display: none;
}

.review-image {
  margin-right : 2%;
  width : 25%;
  border-radius: 10%;
}

.review-button {
  text-align : left;
  font-family : 'NPSfontBold';
  padding: 1%;
  background-color : var(--pink1);
  border:none;
  color : var(--pink3);
}

.rating-box {
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box .stars {
  display: flex;
  align-items: center;
}
.stars i {
  color: var(--lightgray);
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: var(--pink2);
}
.rating-box h5.active {
  color: var(--pink3);
}

.review-content-box {
    background : var(--white);
    border : none;
    outline-color : var(--pink2);
    height :  62vh;
    width : 99%;
}

.review-content {
  height : 85vh;