<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="../css/ui.css">
    <link rel="stylesheet" href="../css/mypage/edit.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
</head>
<body>
<div class="app-body">
    <div class = "content">
<!--        <div id="mypageBack">-->
        <a href="javascript:history.back();" id="backBtn">◀</a>
        <br><br><br>
        <h4 id="title">프로필 변경</h4>
        <br>
            <br>
        <br>
           <img th:src="${userInfo.userImagePath}? ${userInfo.userImagePath} : '../css/users/img/default_user.png'" id="userImage">


            <label class="imgChange" for="input-image">
                <img src="../css/mypage/img/edit.png">
            </label>
            <form id="editForm" action="/users/edit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="userId" th:value="${userInfo.userId}">
                <input type="file" name="image" style="display:none" id="input-image" onchange="changeProfile(this)">
                <h5 class="editText">PW</h5>
                <br>
                <input class="editBox" type="password" name="userPassword" required><br>
                <h5 class="editText">이름</h5>
                <br>
                <input class="editBox" type="text" name="userName" th:value="${userInfo.userName}"><br>
                <h5 class="editText">별명</h5>
                <br>
                <input class="editBox" type="text" name="nickname" th:value="${userInfo.nickname}"><br>
                <h5 class="editText">email</h5>
                <br>
                <input class="editBox" type="text" name="userEmail" th:value="${userInfo.userEmail}"><br>
                <br>
                <input id="editButtom" type="submit" value="업데이트 프로필"/>
            </form>
        </th:block>
            <h5 id="iframed" th:text="${msg}"></h5>
        <div id="delete"><a href="/mypage/delete" style="text-decoration: none">회원탈퇴</a></div>
<!--        </div>-->
    </div>

    <div class = "nav">
        <footer th:insert="ui/footer :: footer"></footer>
    </div>
</div>
</body>
<script>
function changeProfile(inputElement){ 	
    document.querySelector("#userImage").src=URL.createObjectURL(inputElement.files[0]);
    document.querySelector("#userImage").addEventListener("load", function(){
        URL.revokeObjectURL(this.src);
    })
} 
</script>
</html>