#backBtn{
    text-decoration: none;
}
#title{
  position: relative;
  left: 10%;
}

#userImage{
     border-radius: 50%;
     border: 3px solid #D7CBE3;
     width: 24%;
     height: 10%;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     left: 37%;
     top: 0.8%;
}

.userInfo{
  text-align: center;
}

.editText{
  position: relative;
  left: 21%;
  top: 16px;
}

.editBox{
  position: relative;
  left: 20%;
  width: 60%;
  height: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  background: rgba(255, 255, 255, 0.20);
}

#editForm{
    position: relative;
    top: 5%;
}

.imgChange{
        position: relative;
        left: 25%;
        top: 1%;
}

#editButtom{
        position: relative;
        left: 20%;
        top: 50px;
        width: 60%;
        height: 39px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        background: rgba(175, 150, 199, 0.60);
        border-radius: 15px;

        font-size: 90%;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.70);
}

#iframed{
    position: relative;
        bottom: 1%;
        left: 20%;
        width: 70%;
        height: 50px;
        border: none;
        color: crimson;
}

#delete{
  position: relative;
left: 43%;
    top: 10%;
}
#delete > a{
    color: gray;
    font-size: 14px;
}

